.about{
    background: $white;

    &__title{
        font-size: $fz-l;
        line-height: $lh-title;
        color: $blue;
        margin-bottom: 2rem;
    }

    &__inner{
        padding: $padding-about;
        display: flex;
        gap: 8rem;
        flex-flow: row wrap;
    }

    &__col{
        width: 28.4rem;
        list-style-image: url('../images/marker.svg');

        &--main-widht{
            width: 31rem;
        }
    }
}
