.advantages{
    background:$white;
    &__inner{
        padding: $padding-advantages;
    }

    &__title{
        color: $blue;
        margin-bottom: 6rem;
    }

    &__list{
        display: flex;
        gap: 4rem;
        flex-flow: row wrap;
    }

    &__item{
        flex-basis: 30rem;
        text-align: center;

        font-size: $fz-md;
        line-height: $lh-title;
        color: $blue;

        img{
            margin-bottom: 3.2rem;
            opacity: 0.2;
        }
    }
}
