.btn{
    padding: 2em 2.66em;

    font-family: $ff-open-sans;
    font-size: $fz-xxs;
    font-weight: 600;
    line-height: $lh-title;

    background: $gold;
    border: 0;
    border-radius: .8em;
    color: $white;
    text-transform: uppercase;
    letter-spacing: .08em;


    @include transition(background);
    &:hover{
        background: darken($gold, 10%);
    }
}
