.feedback{
    &__inner{
        padding: $padding-feedback;

        background: $color-bg url('../images/logo-large.png') center center no-repeat;
        
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__suptitle,
    &__title{
        text-align: center;
    }

    &__title{
        color: $blue;
        margin-bottom: 4rem;
    }

    &__form{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 36rem;

        input[type="tel"]{
            margin-bottom: 2rem;
        }

        input:not(:last-child){
            width: 100%;
            padding: 1.8rem 2rem;
            background-color: $white;
            border-radius: 0.8rem;
            border: 1px solid transparent;
            color: $blue;

            @include transition(border);
        }

        input::placeholder{
            color: $grey;
        }

        input:focus{
            border: 1px solid $gold;
        }
    }


}
