.footer{
    background: $white;
    &__inner{
        padding: $padding-footer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.socials{
    display: flex;
    gap: 2.6rem;

    path{
        @include transition(fill);
    }

    a:hover path{
        fill: $gold;
    }
}
