.gallery{
    display: flex;
    width: 144rem;
    margin: 0 auto;

    &__image{
        width:36rem;
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
