.header {
  background: $white;
  &__inner {
    padding: $padding-header;
    position: relative;
  }



  &__phone{
      font-family: $ff-open-sans;
      font-size: $fz-s;
      font-weight: 600;
      line-height: $lh-title;

      color: $blue;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .08em;

      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include transition(color);

      &:hover{
          color: $gold;
      }
  }
}
