.intro{

    &__inner{
        padding: $padding-intro;

        background: $black url('../images/intro-bg.jpg') 50% 50% no-repeat;
        background-size: cover;
        height: 62rem;
    }

    &__content{
        display: block;
        width: 40%;
        &-name{
            text-transform: uppercase;
            color: $white;
        }

        &-prof{
            font-size: $fz-big;
            line-height: $lh-title-big;

            color: $gold;
            margin: 1.2rem 0;
        }

        &-text{
            color: $white;

            margin-bottom: 6rem;
        }
    }
}
