.menu {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;

  &__separate {
    width: 0.8rem;
    height: 0.8rem;
    background-color: $gold;
    border-radius: 100%;
  }

  &__link {
    font-family: $ff-open-sans;
    font-size: $fz-xxs;
    font-weight: 600;
    line-height: $lh-title;
    letter-spacing: 0.08em;

    color: $blue;
    text-transform: uppercase;
    text-decoration: none;

    @include transition(color);
    &:hover {
      color: $gold;
    }
  }
  &__logo{
    margin: 0 0.8rem;
    width: 6.8rem;
    height: 6.8rem;
    background-color: $blue;
    border-radius: 100%;
    @include transition(background);

    &:hover {
      background-color: $blue-dark;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;

      svg {
        width: inherit;
        height: inherit;
      }

      path {
        @include transition(fill);
      }

      &:hover {
        path {
          fill: $gold;
        }
      }
    }
  }

}
