.services{
    background: $white;
    padding-top: $padding-services-top;
    &__inner{
        margin-bottom: 6rem;
        display: flex;
        gap: 1.5em;
        flex-wrap: wrap;
    }

    &__suptitle,
    &__title{
        text-align: center;
    }

    &__title{
        margin-bottom: 4.6rem;
    }

    &__btn{
        display: block;
        margin: 0 auto;
    }

    &__item{
        width: 26.5em;
        padding: 5em;

        font-family: $ff-open-sans;
        color: $white;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:before{
            content: "";
            display: block;
            width: 72.6rem;
            height: 72.6rem;
            position: absolute;
            top: -70%;
            right: -90%;
            z-index: -1;
            background: url('../images/logo-big.svg') center no-repeat;
        }

        &-image{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }

        &-suptitle{
            color: inherit;
            margin-bottom: 1.2rem;
        }

        &-title{
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        &-text{
            margin-bottom: 4.4rem;
        }

        &-link{
            color: inherit;
            &:hover{
                text-decoration: none;
            }
        }

        // ==== modification =====

        &--pos-bg-b{
            &:before{
                top: 20%;
                left: -20%;
            }
        }

        &--pos-bg-r{
            &:before{
                top: 0;
                left: 0;
            }
        }


        &--gold-bg{
            background-color: $gold;
        }

        &--gold-dark-bg{
            background-color: $gold-dark;
        }
    }
}
