@import "vars";
@import "mixins";
@import "vendor/reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600&family=Cousine:wght@700&family=Open+Sans:wght@400;600&display=swap');

html{
    font-size: 10px;
}

body {
    width: 100%;
    font-family: $ff-open-sans;
    font-size: 1.6rem;
    line-height: $lh-text;
    color: $grey;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    width: 132rem;
    margin: 0 auto;
}

.ta-c{
    text-align: center;
}
.ta-r{
    text-align: right;
}
.jc-c{
    display: flex;
    justify-content: center;
}

.title{
    font-family: $ff-cormorant;
    font-size:$fz-xxl;
    font-weight: 600;
    line-height: $lh-title;
}

.suptitle,
.text{
    font-family: $ff-open-sans;
    font-size:$fz-xs;
    font-weight: 400;
    line-height: $lh-text;
}

.suptitle{
    color: $gold;
}


@import "block/menu.scss";
@import "block/header.scss";
@import "block/services.scss";
@import "block/intro.scss";
@import "block/btn.scss";
@import "block/about.scss";
@import "block/advantages.scss";
@import "block/feedback.scss";
@import "block/gallery.scss";
@import "block/footer.scss";
