$color:#002175; //blue

$color:#DB922E; //gold

$color:#9B6315; //gold-dark

$color:#774500; //bronze

$color:#B69089; //rose

$color:#948D84; // grey

$color:#FBF2E6; //bg

$color:#000718; //blue-dark
