
// ==== COLORS =====

$black: #000000;
$white: #ffffff;

$gold:#DB922E; //gold
$gold-dark:#9B6315; //gold-dark
$bronze:#774500; //bronze
$grey: #948D84;// grey

$blue:#002175; //blue
$blue-dark:#000718; //blue-dark

$color-bg:#FBF2E6; //bg

// ==== COLORS END =====


// ==== FONTS =====

$ff-cormorant: 'Cormorant', serif;
$ff-open-sans: 'Open Sans', sans-serif;
$ff-cousine: 'Cousine', monospace;

// ==== FONTS END =====


// ==== FONTS SIZE =====

$fz-xxs: 1.2rem;
$fz-xs: 1.6rem;
$fz-s: 2rem;
$fz-md: 3.2rem;
$fz-l: 3.6rem;
$fz-xl: 4rem;
$fz-xxl: 6rem;
$fz-big:10rem;

$lh-text: 1.5;
$lh-title: 1;
$lh-title-big: 0.7;

// ==== FONTS SIZE END=====


// ==== PADDING =====

$padding-header:2.1rem 0;
$padding-intro: 11.1rem 0 12.3rem 12.4rem;
$padding-services-top: 10rem;
$padding-about: 12rem 14rem;
$padding-feedback: 8rem 0;
$padding-advantages:10rem 0 12rem;
$padding-footer:5rem 0;

// ==== PADDING END ====
