---
layout: default
title: Ваш психолог
---

<!-- Intro block -->
<section class="intro">
  <div class="container intro__inner">
    <div class="intro__content">
      <h2 class="suptitle intro__content-name">Татьяна Константинова</h2>
      <h3 class="title intro__content-prof">Ваш психолог</h3>
      <div class="text intro__content-text">
        Большой опыт, работа с тяжелыми ситуациями, помощь онлайн,
        конфеденциальность
      </div>
      <button class="btn">Записаться на приём</button>
    </div>
  </div>
</section>
<!--/.Intro-->

<!-- Services block -->
<div class="services">
  <div class="container">
    <h2 class="suptitle services__suptitle">Добро пожаловать</h2>
    <h3 class="title services__title">Чем мы можем вам помочь?</h3>

    <div class="services__inner">
      <div class="services__item services__item--gold-dark-bg">
        <h4 class="suptitle services__item-suptitle">Комфортно, безопасно</h4>
        <h5 class="title services__item-title">Онлайн консультации</h5>
        <div class="text services__item-text">
          Краткое описание услуги. Необходимо вместиться в одно - два
          предложения. Пользователи не читают.
        </div>
        <a href="#" class="services__item-link">Подробнее</a>
      </div>

      <div class="services__item">
        <img
          src="assets/images/services-1.jpg"
          alt="Photo of the doctor"
          class="services__item-image"
        />
      </div>

      <div
        class="services__item services__item--gold-bg services__item--pos-bg-r"
      >
        <h4 class="suptitle services__item-suptitle">Комфортно, безопасно</h4>
        <h5 class="title services__item-title">Онлайн консультации</h5>
        <div class="text services__item-text">
          Краткое описание услуги. Необходимо вместиться в одно - два
          предложения. Пользователи не читают.
        </div>
        <a href="#" class="services__item-link">Подробнее</a>
      </div>

      <div class="services__item">
        <img
          src="assets/images/services-2.jpg"
          alt="Photo of the doctor"
          class="services__item-image"
        />
      </div>

      <div
        class="
          services__item services__item--gold-dark-bg services__item--pos-bg-b
        "
      >
        <h4 class="suptitle services__item-suptitle">Комфортно, безопасно</h4>
        <h5 class="title services__item-title">Онлайн консультации</h5>
        <div class="text services__item-text">
          Краткое описание услуги. Необходимо вместиться в одно - два
          предложения. Пользователи не читают.
        </div>
        <a href="#" class="services__item-link">Подробнее</a>
      </div>

      <div class="services__item">
        <img
          src="assets/images/services-3.jpg"
          alt="Photo of the doctor"
          class="services__item-image"
        />
      </div>
    </div>
    <button class="services__btn btn">Смотреть Все услуги</button>
  </div>
</div>
<!-- /.Services -->

<!-- About -->
<section class="about">
  <div class="container about__inner">
    <div class="about__col about__col--main-widht">
      <h2 class="about__title title">Татьяна Константинова</h2>
      <div class="about__text">
        Психолог с десятилетним стажем работы , медиатор , развивающий директор
        в Украинской Ассоциации в сфере джиар и лоббизма , ментор политических
        деятелей , мама , воспитывает восьмилетнего сына , трансформационный
        тренер практик , духовный наставник , человек влюбленный в жизнь и
        чувствующий тонко все грани Вселенной
      </div>
    </div>

    <ol class="about__col">
      <li>Работа с травмой</li>
      <li>Реабилитация и робота после потери ( смерти) близкого человека</li>
      <li>
        Работа с паническими состояниями, психосоматическими расстойствами,
        Самоценность себя, повышение вибраций , любви к себе, проработка всех
        блоков , деструктивных программ , проработка рода , изменение программ
      </li>
      <li>Работа с семейными парами</li>
      <li>Робота с детьми</li>
    </ol>

    <ol class="about__col">
      <li>Менторство как для взрослых так и детей</li>
      <li>Психоанализ долгосрочная терапия</li>
      <li>Психологические консультации</li>
      <li>Менторство для политических деятелей</li>
      <li>Работа с хроническими заболеваниями</li>
      <li>Проработка глубинных блоков</li>
    </ol>
  </div>
</section>
<!-- /.About -->

<!-- Feedback block -->
<section class="feedback">
  <div class="container feedback__inner">
    <h2 class="suptitle feedback__suptitle">Ответим на любой вопрос</h2>
    <h3 class="title feedback__title">Запишись на приём</h3>

    <form class="feedback__form form" action="/">
        <input type="text" placeholder="Ваше имя">
        <input type="email" placeholder="Email">
        <input type="tel" placeholder="Телефон">
        <input type="submit" class="btn" value="Отправить">
    </form>
  </div>
</section>
<!-- /.Feedback -->

<!--  Advantages block -->
<section class="advantages">
  <div class="container advantages__inner">
    <h2 class="suptitle ta-c advantages__suptitle">Ответим на любой вопрос</h2>
    <h3 class="title ta-c advantages__title">Запишись на приём</h3>

    <div class="advantages__list">
        <div class="advantages__item">
            <img src="assets/images/advantages-1.svg" alt="" class="advantages__item-image">
            <h4 class="advantages__item-title">Опыт работы 10 лет</h4>
        </div>
        <div class="advantages__item">
            <img src="assets/images/advantages-2.svg" alt="" class="advantages__item-image">
            <h4 class="advantages__item-title">Конфиденци- альность</h4>
        </div>
        <div class="advantages__item">
            <img src="assets/images/advantages-3.svg" alt="" class="advantages__item-image">
            <h4 class="advantages__item-title">Работа с “тяжелыми ситуациями”</h4>
        </div>
        <div class="advantages__item">
            <img src="assets/images/advantages-4.svg" alt="" class="advantages__item-image">
            <h4 class="advantages__item-title">Помощь онлайн!</h4>
        </div>
    </div>
  </div>
</section>
<!-- /.Advantages  -->

<!-- Gallery block -->
<div class="gallery">
    <img src="assets/images/gallery-1.jpg" alt="" class="gallery__image">
    <img src="assets/images/gallery-2.jpg" alt="" class="gallery__image">
    <img src="assets/images/gallery-3.jpg" alt="" class="gallery__image">
    <img src="assets/images/gallery-4.jpg" alt="" class="gallery__image">
</div>
<!-- /.Gallery -->
